.DS_Store
node_modules
*.sock

.sass-cache
sass
config.rb
npm-debug.log

.dccache
.dcignore
.idea/
.dccache


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
