name: Nuclei

on: workflow_dispatch

jobs:
  nuclei:
    runs-on: ubuntu-latest
    steps:
      - name: Nuclei - Vulnerability Scan
        uses: projectdiscovery/nuclei-action@main
        with:
          target: https://juice-shop.herokuapp.com/
